<!doctype html>
<html>
<head>
    <title>Whatcha you lookin' at?</title>
    <style type=text/css>
body
{
height: 125vh;
margin-top: 20px;
padding: 5px;
background-size: cover;
font-family: sans-serif;
}
header {
background-color: black;
position: fixed;
left: 0;
right: 0;
top: 0;
height: 30px;
display: flex;
align-items: center;
box-shadow: 0 0 25px 0 blue;
}
header * {
display: inline;
}
header li {
margin: 20px;
}
header li a {
color: white;
text-decoration: none;
}
header li a:hover {
color: black;
background-color: white;
text-decoration: none;
}
</style>
</head>

<body>
  <header>
    {% include "navbar.html" %}
  </header>

    {% block content %}Something might be broken...{% endblock %}
    {% block scary_content %}Boooo, ahhhhh, get out!!!{% endblock %}
    <p style="font-family: cursive; font-size: 10pt;">
        Uh huh, that's right. I'm gonna follow you to every page!
    </p>
</body>

</html>
