{% extends 'base.html' %}

{% block content %}
<br><br><br><br><br><br><br><br><br><br>

    <form action="./" method="post">
    {% csrf_token %}
    <input type="submit" value="Execute Python Script">
    <!--{{ test_phrase }}-->
    </form>
<!--{{ test_phrase }}-->
{{ test_cos }}
=======
{% load  static %}
<aside id="featured" class="body"><article>
  <figure>
    <img src="{% static 'images/fire_wx_2021_07_22.png' %}" alt="WX" />
  </figure>
  <hgroup>


    <form action="./" method="post">
    {% csrf_token %}
    <input type="submit" value="Go back home...">
    <!--{{ test_phrase }}-->
    </form>



=======


<br><br>
<p>
Read contents of external text file: <br>{{ file_content }}
</p>
</article></aside><!-- /#featured -->
{% endblock %}

{% block scary_content %}
{% endblock %}
